<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <title>Swall</title>

</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- logo -->
    <a class="navbar-brand" href="#">
      <img src="img/logo.png" width="30" height="30" alt="">
    </a>
    
    <!-- enlaces -->
    <div class="collapse navbar-collapse" id="opciones">   
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Inicio</a>
        <li class="nav-item">
          <a class="nav-link" href="galeria.html">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="QS.html">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Publicacion.html">Publicar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Registro.html">Registrar</a>
        </li>            
      </ul>
    </div>
  </nav>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
      <br>
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--******************************************************-->     
        <div class="position-estatic overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Quienes Somos</h1>
            <p class="lead fw-normal">Swall
              es una página web que va dirigida a toda persona que gusta de los debates, discusiones, temas de conversación variados.                
              
                             
             El fin (y visión de la página web) es poder compartir tú opinión del tema que gustes con las demás personas del mundo, de una manera rápida y llamativa.
                         
             La misión de nuestro grupo de trabajo es poder informar de todos los temas que son la novedad del momento y poder compartir esa información con los demás usuarios.  </p>
             <iframe width="450" height="350" src="https://www.youtube.com/embed/kb6tSD9n8Xg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             <script>
               function Mover(obj)
                {
                    obj.innerHTML="Si un mensaje es personal o privado, no es prudente que publicite su contenido. Un mensaje en la mensajería interna (salvo que sea grupal) es un mensaje privado.";
                    obj.style.background="yellow";
                    
                }

                function MoverFuera(obj)
                {
                    obj.innerHTML="Mueve el mouse sobre la caja para consejos sobre un foro!";
                    obj.style.background= "red";
                    
                }
                </script>
                <h2> </h2>
                <div onmouseover="Mover(this)" onmouseout="MoverFuera(this)"
                    style= "background-color: red; width: 450px; height: 170px;  
                    padding: 30px;">
                    Mueve el mouse sobre la caja para consejos sobre un foro!
                </div>
              </div>
          </div>
          <div class="product-device shadow-sm d-none d-md-block"></div>
          <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
        <footer id="fh5co-footer" class="fh5co-bg" role="contentinfo">
          <div class="overlay"></div>
          <div class="container">
            <div class="row row-pb-md">
              <div class="col-md-4 fh5co-widget">
                <h3>Swall.</h3>
                <p style="color: white;">Foro de temas de interes 
                por Francisco Baeza y Alexis Rodriguez</p>
                <p><a class="btn btn-primary" href="#">Donaciones</a></p>
              </div>
              <div class="col-md-8">
                <h3>Redes sociales</h3>
                <a href="https://www.instagram.com/cristiano/"><img src="img/instagrampng.png" width="90xp" height="90xp"></a>
                <a href="https://es-la.facebook.com/Cristiano"><img src="img/facepng.png" width="75xp" height="75xp"></a>
              </div>
            </div>
            <div class="row copyright">
              <div class="col-md-12 text-center">
                <p>
                  <small style="color: white;" class="block">&copy; 2021 | Todos los derechos reservados.</small> 
                  <small style="color: white;" class="block">Swall</small>
                </p>
              </div>
            </div>
          </div>
        </footer>   
</body>
</html>