{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/estilo.css' %}">
    <link rel="stylesheet" href="cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Swall</title>

</head>
<body>  
    <div class="container">
        <div class="row">
            <h1>Creando Vehiculos</h1>
        </div>

        <div class="row">
            <form method="POST" id="formulario" action="#">

                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        {{publicacion_form.correo.label}}
                        {{publicacion_form.correo}} 
                    </div>
                </div>
            
                <div class="row">
                    <div class="form-group">
                        {{publicacion_form.nombre.label}}
                        {{publicacion_form.nombre}}
                    </div>
                </div>
            
                <div class="row">
                    <div class="form-group">
                        {{publicacion_form.categoria.label}}
                        {{publicacion_form.categoria}}
                    </div>
                </div>
            
                <div class="row">
                    <div class="form-group">
                        {{publicacion_form.detalles.label}}
                        {{publicacion_form.detalles}}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        {{publicacion_form.cuenta.label}}
                        {{publicacion_form.cuenta}}
                    </div>
                </div>
            
                <div class="row">
                    <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
                    <input type="reset" class="btn btn-primary" id="limpiar" value="limpiar">
            
                </div>
            
            
            </form>
            
        </div>
            
            
    </div>
    
    
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>          
</body>
</html>